body {
  font-family: Tahoma, Arial, "sans serif";
  font-size:12px;
  background:#e2e2e2;
  margin-top:50px;
}

#page {
  margin:0 auto;
  width:960px;
  background:#fff;
  padding:15px;
  box-shadow: 0 0 8px #bababa;
  -moz-box-shadow: 0 0 8px #bababa;
  -webkit-box-shadow: 0 0 8px #bababa;
  border-radius:10px;
  -moz-border-radius:10px;
  -webkit-border-radius:10px;
}

header {
  text-align:center;
}

footer {
  text-align:center;
  font-size:9px;
  color:#b0b0b0;
}

footer img {
  vertical-align:middle;
}

.content {
  text-align:center;
  margin-bottom:30px;
}
